.start{
    background-image: url("img/t102.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;
    
   
}
.start1{
    background-image: url("img/61f01dba6b126-1-q8vdwwsgycz2sm9mcbpgvq9id0tzgtqqc2cws73osk.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;
   
    


}
.start h3{
    color: rgba(7, 7, 7, 0.945);
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 400px;
   
}
.start1 h3{
    color: rgba(7, 7, 7, 0.945);
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}
.start2{
    background-image: url("img/pre-surgical-rehab-3faz-1280x500-1-q8sceoqflmd7w2kf5rzcy1anrdjvoedxzvaota9yys.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start2 h3{
    color: rgba(7, 7, 7, 0.945);
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}
.start3{
    background-image: url("img/t4.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start3 h3{
    color: black;
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start4{
    background-image: url("img/t5.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start4 h3{
    color: black;
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start5{
    background-image: url("img/t6.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start5 h3{
    color: black;
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}


.start6{
    background-image: url("img/t7.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start6 h3{
    color: black;
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start7{
    background-image: url("img/t8.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start7 h3{
    color: black;
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start8{
    background-image: url("img/t9.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start8 h3{
    color: black;
    
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start9{
    background-image: url("img/t10.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start9 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start10{
    background-image: url("img/t11.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start10 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start11{
    background-image: url("img/t12.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start11 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start12{
    background-image: url("img/t13.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start12 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start13{
    background-image: url("img/t14.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start13 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start14{
    background-image: url("img/t15.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start14 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start15{
    background-image: url("img/t16.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start15 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start16{
    background-image: url("img/t17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start16 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}

.start17{
    background-image: url("img/t18.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70%;

}
.start17 h3{
    color: black;
    font-weight: bold;
   justify-content: center;
   display: flex;
   font-size: 30px;
   padding-top: 50px;
}


.head img{
    width: 800px;

}
.col-9{
    font-size: 18px;
    color: black;
    margin-top: 15px;
    margin-bottom: 20px;
}


.col-9 h4{
    margin-bottom: 15px;

}